# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment (if any)
venv/
env/

# Windows system files
Thumbs.db
Desktop.ini
launcher.exe 

# Certificates and keys
cert.pem
key.pem
openssl_san.cnf

# Log files
**.log

# IDE/editor files
.vscode/
*.sublime-project
*.sublime-workspace
.idea/

# OS metadata
.DS_Store

